<div class="nav">
    <ul class="nav-list">
        <li class="nav-list-item" id="home-item"><a id="home-a" href="/entries" >Home</a></li>
        <li class="nav-list-item" id="logout-item"><a id="logout-a" href="/entries" >Logout</a></li>

    </ul>
</div>